.link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    height: 40px;
    width: 200px;
    align-items: center;
    background-color: #FFE60A;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.link p {
    color: black;
}

/*.link p {
    color: black;
}

.link:hover, .link:focus {
    background-color: black;
    color: yellow;
}*/